In [7]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing
titanic_train=pd.read_csv("train.csv")

In [2]:
new_age_var=np.where(titanic_train["Age"].isnull(),28,titanic_train["Age"])

In [3]:
titanic_train["Age"]=new_age_var

In [4]:
label_encoder=preprocessing.LabelEncoder()

In [5]:
encoded_sex=label_encoder.fit_transform(titanic_train["Sex"])

In [8]:
tree_model=tree.DecisionTreeClassifier()

In [9]:
tree_model.fit(X=pd.DataFrame(encoded_sex),y=titanic_train["Survived"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [11]:
with open("Dtree1.dot",'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=["Sex"],out_file=f);

In [12]:
predictors=pd.DataFrame([encoded_sex,titanic_train["Pclass"]]).T

In [13]:
tree_model.fit(X=predictors,y=titanic_train["Survived"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [14]:
with open("Dtree2.dot",'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=["Sex","Pclass"],out_file=f);

In [15]:
predictors=pd.DataFrame([encoded_sex,titanic_train["Pclass"],titanic_train["Age"],titanic_train["Fare"]]).T

In [16]:
tree_model=tree.DecisionTreeClassifier(max_depth=8)

In [17]:
tree_model.fit(X=predictors,y=titanic_train["Survived"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=8, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [18]:
with open("Dtree3.dot",'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=["Sex","Pclass","Age","Fare"],out_file=f);

In [19]:
tree_model.score(X=predictors,y=titanic_train["Survived"])

0.8976377952755905

In [20]:
titanic_test=pd.read_csv("test.csv")

In [21]:
new_age_var=np.where(titanic_test["Age"].isnull(),28,titanic_test["Age"])

In [22]:
titanic_test["Age"]=new_age_var

In [23]:
encoded_sex_test=label_encoder.fit_transform(titanic_test["Sex"])

In [24]:
test_features=pd.DataFrame([encoded_sex_test,titanic_test["Pclass"],titanic_test["Age"],titanic_test["Fare"]]).T

In [25]:
test_preds=tree_model.predict(X=test_features)

In [26]:
Predicted_Output=pd.DataFrame({"PassengerId":titanic_test["PassengerId"],"Survived":test_preds})

In [27]:
Predicted_Output.to_csv("Output.csv",index=False);

In [28]:
from sklearn.ensemble import RandomForestClassifier

In [29]:
titanic_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [39]:
label_encoder=preprocessing.LabelEncoder()

In [40]:
titanic_train["Sex"]=label_encoder.fit_transform(titanic_train["Sex"])

In [41]:
titanic_train["Embarked"]=label_encoder.fit_transform(titanic_train["Embarked"])

In [42]:
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [43]:
features=["Sex","Pclass","SibSp","Embarked","Age","Fare"]

In [44]:
rf_model.fit(X=titanic_train[features],y=titanic_train["Survived"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [47]:
print("OOB Accuracy:")
print(rf_model.oob_score_);

OOB Accuracy:
0.8098987626546682

In [51]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp);

Sex 0.26659220577761944
Pclass 0.08929643795687066
SibSp 0.052689654610381914
Embarked 0.033443542325328424
Age 0.2713818220216748
Fare 0.2865963373081247

# Attrition analysis

In [55]:
data = pd.read_csv("general_data.csv")

In [56]:
data.head(2)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4

In [57]:
from sklearn.model_selection import train_test_split

In [58]:
data["Attrition"] = le.fit_transform(data.Attrition)
data["BusinessTravel"] = le.fit_transform(data.BusinessTravel)
data["Department"] = le.fit_transform(data.Department)
data["EducationField"] = le.fit_transform(data.EducationField)
data["Gender"] = le.fit_transform(data.Gender)
data["Over18"] = le.fit_transform(data.Over18)
data["JobRole"]= le.fit_transform(data.JobRole)
data["MaritalStatus"]= le.fit_transform(data.MaritalStatus)

In [59]:
data = data.fillna(method='bfill')

data = data.fillna(method='ffill')

In [60]:
data.isna().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [61]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [62]:
data = data.drop(['Over18','EmployeeCount', 'EmployeeID','StandardHours'],axis=1)

In [63]:
data = data.dropna()
data1 = data.drop_duplicates()

In [64]:
rf = RandomForestClassifier(n_estimators=1000, max_features=2, oob_score=True)

In [65]:
afeatures = ['Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField','Gender','JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked','PercentSalaryHike','StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

In [66]:
rf_model.fit(X=data[afeatures], y=data["Attrition"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [67]:
print(rf_model.oob_score_)

0.9997732426303855

In [68]:
for feature,imp in zip(afeatures, rf_model.feature_importances_):
    print(feature,"\t",imp);

Age 	 0.09674306314923121
BusinessTravel 	 0.027957693093977366
Department 	 0.026272772390646917
DistanceFromHome 	 0.06954357056933749
Education 	 0.04070799913736922
EducationField 	 0.04161084400182976
Gender 	 0.01840739551387731
JobLevel 	 0.037532097746803654
JobRole 	 0.054887791320735284
MaritalStatus 	 0.0397456353482652
MonthlyIncome 	 0.09423370778113134
NumCompaniesWorked 	 0.055334559241971976
PercentSalaryHike 	 0.06546224871825992
StockOptionLevel 	 0.03469481553703901
TotalWorkingYears 	 0.08603937665954182
TrainingTimesLastYear 	 0.045667621658277875
YearsAtCompany 	 0.06779145355469977
YearsSinceLastPromotion 	 0.04292905406722457
YearsWithCurrManager 	 0.05443830050978036

# Age, Monthly Income, TotalWorkingYears

In [69]:
att_model = tree.DecisionTreeClassifier(max_depth=6,max_leaf_nodes=10)

In [70]:
feat = pd.DataFrame([data['Age'],data['MonthlyIncome'],data['TotalWorkingYears']]).T
att_model.fit(X=feat, y=data["Attrition"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=10,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [71]:
with open("atree.dot",'w') as  f:
    f=tree.export_graphviz(att_model,feature_names=['Age','MonthlyIncome','TotalWorkingYears'],out_file=f);

# If TotalWorkingYears is < 1.5 and monthly income is between 23000 to 110000 then the chance of attrition is high

# If TotalWorkingYears is > 1.5 , Age is < 33 then rate of attrition is very low

# Bank Loan Modelling

In [72]:
dataset = pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)

In [73]:
bankr_model = RandomForestClassifier(n_estimators=1000, max_features=2, oob_score=True)

In [74]:
dataset.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [75]:
dataset1 = dataset.drop(['ID','ZIP Code'], axis =1)
dataset2 = dataset1.dropna()
dataset3 = dataset2.drop_duplicates()
dataset3.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1

In [76]:
dataset3['CCAvg'] = np.round(dataset3['CCAvg'])
dataset3.head()

C:\Users\palle\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,2.0,1,0,0,1,0,0,0
1,45,19,34,3,2.0,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,3.0,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1